@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  /* background: #e9f6ff; */
  background: #131C2E;
  font-family: "Play", serif;
  font-weight: 400;
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
}

.text-primary{
  color: #131C2E;
}

.bg-primary{
  background: #131C2E;
}

.text-secondary{
  color: #253355;
}

.bg-secondary{
  background: #253355;
}


/* editor */

.ql-toolbar.ql-snow, .ql-container.ql-snow{
  border: none !important;
}

.ql-toolbar.ql-snow{
  height: 0;
  padding: 0;
}

/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #cedcff ;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #202020 ;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000 ;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
